<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
   <!-- resources находятся в classpath. Импортируем файл-->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="testBean"
          class="ru.badr.springcourse.TestBean">
        <constructor-arg value="Ruziya"/>
    </bean>
    <bean id="musicBean"
          class="ru.badr.springcourse.ClassicalMusic">
    </bean>

    <bean id="jazzMusicBean"
          class="ru.badr.springcourse.JazzMusic">
    </bean>

    <bean id="rockMusicBean"
          class="ru.badr.springcourse.RockMusic">
    </bean>

    <bean id="classicalMusicBean"
          class="ru.badr.springcourse.ClassicalMusic">
    </bean>

   <!-- <bean id="musicPlayer"
    class = "ru.badr.springcourse.MusicPlayer">
        <constructor-arg ref="musicBean" /> внедрение через конструктор-->

    <!--property - внедрение зависимости через setter.  в name указывается имя setter, ref - ссылка на тот бин, который хотим использовать в качетсве зависимости
    music это название setter-а setMusic. set отбрасывается, M заменяется на m
    value - значение, которое мы хотим внедрить в сеттер
    -->
    <bean id="musicPlayer"
          class="ru.badr.springcourse.MusicPlayer"
    scope="prototype">
          <property name="music" ref = "musicBean"/>

       <!--  <property name ="name" value="Some name"/>
         <property name="volume" value="50"/>-->

        <!--для использования значений из файла пишем след образом:-->
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

 <!-- дз  <bean id="musicPlayer" class="ru.badr.springcourse.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="jazzMusicBean"/>
                <ref bean="rockMusicBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>-->

</beans>
